*{
    box-sizing: border-box;
}

body {
    margin: 0;
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 20px #cacaca;
}

.main {
    padding: 15px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.top {
    display: flex;
    justify-content: space-between;
}

.time {
    text-align: center;
}

div#crypto {
    font-size: 1.3rem;    
}

div#crypto-top{
    display: flex;
    align-items: center;
}

div#crypto-top > span {
    margin-left: 10px;
}

div#crypto-bottom {
    margin-left: 15px;
}

div#crypto > p {
    margin: 0 15px;
}

.time {
    font-size: 3em;
}