* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 20px #cacaca;
}

.main {
    padding: 15px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.top {
    display: flex;
    justify-content: space-between;
}

.time {
    text-align: center;
}

div#crypto {
    font-size: 1.3rem;
}

div#crypto-top {
    display: flex;
    align-items: center;
}

div#crypto-top>span {
    margin-left: 10px;
}

div#crypto-bottom {
    margin-left: 15px;
}

div#crypto>p {
    margin: 0 15px;
}

.time {
    font-size: 5em;
}

/* div.weather {
    margin-right: 20px;
}
div.weather-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 2rem;
}

div.weather-top > img {
    width: 80px;
}

div.weather > p {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
} */

div#weather {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-self: flex-start;
    margin-right: 15px;
}

div#weather>img {
    width: 70px;
}

div#weather>.weather-city {
    width: 100%;
    text-align: right;
    margin: 0;
    margin-top: -5px;
    font-size: 1.2rem;
}

div#weather>.weather-temp {
    margin: 0;
    font-size: 1.7rem;
    margin-left: 5px;
}

p.author {
    padding: 15px;
    font-size: 1.2rem;
}